<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    <table>-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <th>Id</th>-->
<!--                <th>Name</th>-->
<!--                <th>Phone</th>-->
<!--            </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--            <tr th:each="customer : ${customerList}">-->
<!--                <td th:text="${customer.customerId}"></td>-->
<!--                <td th:text="${customer.customerName}"></td>-->
<!--                <td th:text="${customer.phone}"></td>-->
<!--            </tr>-->
<!--        </tbody>-->
<!--    </table>-->
</body>
</html>